<form>
  <!-- [formGroup]="form" -->
  <h3>Welcome to Attendance</h3>
  <br />
  <div class="language">
    <app-language-selector></app-language-selector>
  </div>
  <div class="form-group">
    <label for="user">{{ "email" | transloco }}</label>
    <input
      formControlName="email"
      id="user"
      autocomplete="new-password"
      type="email"
    />
  </div>
  <button type="submit" class="VerifyE">
    {{ "verify-your-email" | transloco }}
  </button>

  <button mat-button (click)="confirmpassword()" class="Verify">
    {{ "verify-signature" | transloco }}
  </button>

  <button type="submit" (click)="authentication()" class="login">
    {{ "login" | transloco }}
  </button>
</form>
